/*PROJECT*/
.filters .type{
    border-radius: 20px !important;
}
.filters .type.active:hover{
    border-radius: 20px;
    background:#8cb8ce;
}
.filters .type.active{
    border-radius: 20px;
    background:#8cb8ce;
}